/* Start Global Rules */

/* Variables */

:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Cairo', sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}

/* End Global Rules */